Repository coder/coder, pull requests merged in 2023-01, with the labels that each got.

#5772 fix(security)!: path-based app sharing changes
  cli/deployment/config.go
  cli/testdata/coder_server_--help.golden
  coderd/apidoc/docs.go
  coderd/apidoc/swagger.json
  coderd/workspaceapps.go
  coderd/workspaceapps_test.go
  codersdk/deploymentconfig.go
  docs/api/general.md
  docs/api/schemas.md
  site/src/api/typesGenerated.ts
Labels: security, release/breaking

#5742 docs: fix agent log location
  docs/templates.md
Labels: docs

#5308 feat(dogfood): install nix package manager
  dogfood/Dockerfile
  dogfood/main.tf
Labels: stale

#5923 docs: add GitLab auth docs
  docs/admin/auth.md
Labels: docs

#5927 docs: add gitauth validate url var
  docs/admin/git-providers.md
Labels: docs
