Repository coder/coder, pull requests merged in 2025-06, with the labels that each got.

#18064 docs: add descriptions to items in manifest
  docs/manifest.json
Labels: docs

#18233 docs: edit troubleshooting steps in Coder Desktop documentation
  docs/images/templates/coder-session-token.png
  docs/images/user-guides/desktop/coder-desktop-workspaces.png
  docs/user-guides/desktop/desktop-connect-sync.md
  docs/user-guides/desktop/index.md
Labels: docs

#18318 chore: update IdP docs with Google quirks
  docs/admin/users/idp-sync.md
Labels: docs

#17777 feat: include read/write byte stats in scaletests JSON report
  scaletest/harness/results.go
  scaletest/harness/results_test.go
  scaletest/harness/run.go
  scaletest/harness/run_test.go
  scaletest/workspacetraffic/metrics.go
  scaletest/workspacetraffic/run.go
  scaletest/workspacetraffic/run_test.go
Labels: stale

#16216 docs: add documentation for installing Coder on Azure with Kubernetes
  docs/install/kubernetes.md
  docs/install/kubernetes/kubernetes-azure-app-gateway.md
  docs/manifest.json
Labels: docs

#18418 fix: defensively handle nil maps and slices in marshaling
  coderd/idpsync/group.go
  coderd/idpsync/idpsync_test.go
  coderd/idpsync/organization.go
  coderd/idpsync/role.go
  enterprise/coderd/idpsync.go
Labels: api, enterprise, s2

#18427 fix(cli)!: enforce selection for multiple agents rather than use randomness
  cli/ssh.go
  cli/ssh_internal_test.go
Labels: release/breaking

#17805 docs: document how to tag coder users in dx data cloud
  docs/admin/integrations/dx-data-cloud.md
  docs/manifest.json
Labels: docs

#18229 fix: restrict database access from outside in docker compose installation
  docker-compose.yaml
Labels: stale, community

#18425 fix!: stop workspace before update
  cli/start_test.go
  cli/stop.go
  cli/testdata/coder_--help.golden
  cli/testdata/coder_update_--help.golden
  cli/update.go
  cli/update_test.go
  coderd/autobuild/lifecycle_executor_test.go
  coderd/coderdtest/coderdtest.go
  coderd/workspaceapps/apptest/apptest.go
  coderd/workspacebuilds_test.go
  coderd/workspaces_test.go
  docs/manifest.json
  docs/reference/cli/index.md
  docs/reference/cli/update.md
  enterprise/cli/start_test.go
  enterprise/coderd/workspaces_test.go
  site/e2e/helpers.ts
  site/src/api/api.test.ts
  site/src/api/api.ts
  site/src/modules/workspaces/actions.ts
  site/src/pages/WorkspacePage/WorkspaceActions/Buttons.tsx
  site/src/pages/WorkspacePage/WorkspaceActions/WorkspaceActions.tsx
  site/src/pages/WorkspacesPage/WorkspacesPage.test.tsx
  site/src/pages/WorkspacesPage/WorkspacesPageView.tsx
Labels: release/breaking

#18604 fix!: use devcontainer ID when rebuilding a devcontainer
  agent/agentcontainers/api.go
  agent/agentcontainers/api_test.go
  coderd/apidoc/docs.go
  coderd/apidoc/swagger.json
  coderd/coderd.go
  coderd/workspaceagents.go
  coderd/workspaceagents_test.go
  codersdk/workspaceagents.go
  codersdk/workspacesdk/agentconn.go
  docs/reference/api/agents.md
  site/src/modules/resources/AgentDevcontainerCard.tsx
Labels: release/breaking
