Repository coder/coder, pull requests merged in 2025-07, with the labels that each got.

#18733 chore: fix broken link in docs
  docs/install/kubernetes.md
Labels: docs

#18753 docs: fix markdown in Windsurf doc
  docs/user-guides/workspace-access/windsurf.md
Labels: docs

#18512 docs: update dynamic parameters for beta release
  docs/admin/templates/extending-templates/dynamic-parameters.md
  docs/admin/templates/extending-templates/parameters.md
  docs/images/admin/templates/extend-templates/dyn-params/dynamic-params-compare.png
  docs/images/admin/templates/extend-templates/dyn-params/enable-dynamic-parameters.png
  docs/manifest.json
Labels: docs

#18713 feat!: add ability to cancel pending workspace build
  cli/provisionerjobs.go
  coderd/apidoc/docs.go
  coderd/apidoc/swagger.json
  coderd/database/dbauthz/dbauthz.go
  coderd/database/dbauthz/dbauthz_test.go
  coderd/workspacebuilds.go
  coderd/workspacebuilds_test.go
  coderd/workspaces_test.go
  codersdk/toolsdk/toolsdk_test.go
  codersdk/workspacebuilds.go
  docs/reference/api/builds.md
  scaletest/workspacebuild/run.go
  site/src/api/api.ts
  site/src/api/queries/workspaces.ts
  site/src/api/typesGenerated.ts
  site/src/modules/workspaces/WorkspaceBuildCancelDialog/WorkspaceBuildCancelDialog.tsx
  site/src/modules/workspaces/actions.ts
  site/src/pages/WorkspacePage/WorkspacePage.test.tsx
  site/src/pages/WorkspacePage/WorkspaceReadyPage.tsx
  site/src/pages/WorkspacesPage/WorkspacesTable.tsx
Labels: release/breaking

#18316 feat: add publishing of helm charts to ghcr registry
  .github/workflows/release.yaml
  docs/install/kubernetes.md
Labels: community

#18585 docs: add coder registry link to docs sidebar
  docs/manifest.json
  docs/registry/index.md
Labels: docs

#18340 chore!: route connection logs to new table
  coderd/agentapi/api.go
  coderd/agentapi/audit.go
  coderd/agentapi/connectionlog.go
  coderd/agentapi/connectionlog_test.go
  coderd/apidoc/docs.go
  coderd/apidoc/swagger.json
  coderd/audit/request.go
  coderd/coderd.go
  coderd/coderdtest/authorize.go
  coderd/coderdtest/coderdtest.go
  coderd/connectionlog/connectionlog.go
  coderd/database/db2sdk/db2sdk.go
  coderd/database/dbauthz/dbauthz.go
  coderd/database/dbauthz/dbauthz_test.go
  coderd/database/dbgen/dbgen.go
  coderd/database/dbmetrics/querymetrics.go
  coderd/database/dbmock/dbmock.go
  coderd/database/dump.sql
  coderd/database/foreign_key_constraint.go
  coderd/database/migrations/000349_connection_logs.down.sql
  coderd/database/migrations/000349_connection_logs.up.sql
  coderd/database/migrations/testdata/fixtures/000349_connection_logs.up.sql
  coderd/database/modelmethods.go
  coderd/database/modelqueries.go
  coderd/database/models.go
  coderd/database/querier.go
  coderd/database/querier_test.go
  coderd/database/queries.sql.go
  coderd/database/queries/connectionlogs.sql
  coderd/database/types.go
  coderd/database/unique_constraint.go
  coderd/rbac/authz.go
  coderd/rbac/object_gen.go
  coderd/rbac/policy/policy.go
  coderd/rbac/regosql/configs.go
  coderd/rbac/roles.go
  coderd/rbac/roles_test.go
  coderd/workspaceagentsrpc.go
  coderd/workspaceapps/db.go
  coderd/workspaceapps/db_test.go
  codersdk/agentsdk/convert.go
  codersdk/audit.go
  codersdk/deployment.go
  codersdk/rbacresources_gen.go
  docs/reference/api/members.md
  docs/reference/api/schemas.md
  enterprise/audit/backends/slog.go
  enterprise/audit/backends/slog_test.go
  enterprise/cli/server.go
  enterprise/coderd/coderd.go
  enterprise/coderd/connectionlog/connectionlog.go
  enterprise/coderd/license/license_test.go
  site/src/api/rbacresourcesGenerated.ts
  site/src/api/typesGenerated.ts
Labels: release/breaking

#18739 docs: add connection logs page
  docs/admin/monitoring/connection-logs.md
  docs/manifest.json
Labels: docs

#19041 feat(helm): add pod-level securityContext support for certificate mounting
  helm/coder/tests/chart_test.go
  helm/coder/tests/testdata/pod_securitycontext.golden
  helm/coder/tests/testdata/pod_securitycontext.yaml
  helm/coder/tests/testdata/pod_securitycontext_coder.golden
  helm/coder/values.yaml
  helm/libcoder/templates/_coder.yaml
Labels: customer-requested

#19104 docs: add code-server/vs code web comparison table
  docs/manifest.json
  docs/user-guides/workspace-access/code-server.md
  docs/user-guides/workspace-access/index.md
  docs/user-guides/workspace-access/vscode.md
Labels: docs
