Repository coder/coder, changes with the owners that CODEOWNERS names for each.
All owners: @spikecurtis, @johnstcn, @aslilac, @Emyrk, @Parkreiner, @deansheather, @DanielleMaywood

test harder
  coderd/apikey_test.go
Owners: none

fix(coderd): add audit log on creating a new session key (#19672)
  coderd/apikey.go
  coderd/apikey_test.go
Owners: none

improve styling of warnings
  site/src/pages/TemplateVersionEditorPage/WildcardHostnameWarning.tsx
  site/src/pages/WorkspacePage/WildcardHostnameWarning.tsx
Owners: @aslilac, @Parkreiner

wip: commit progress on merge logic
  site/src/hooks/useTimeSync.tsx
  site/src/utils/TimeSync.ts
Owners: @Parkreiner, @aslilac

chore: mcp configurator service, related dbauthz changes
  Makefile
  aibridged/aibridged.go
  aibridged/mcp.go
  aibridged/pool.go
  aibridged/proto/aibridge.pb.go
  aibridged/proto/aibridged.pb.go
  aibridged/proto/aibridged.proto
  aibridged/proto/aibridged_drpc.pb.go
  aibridged/translator.go
  cli/server.go
  coderd/aibridgedserver/aibridgedserver.go
  coderd/coderd.go
  coderd/database/dbauthz/dbauthz.go
Owners: none

chore: fix missing tooltip field in e2e test
  site/e2e/helpers.ts
  site/src/modules/resources/AppLink/AppLink.tsx
Owners: @aslilac, @Parkreiner

chore: cleanup markdown className
  site/src/modules/resources/AppLink/AppLink.tsx
Owners: @aslilac, @Parkreiner

fix: improve structural sharing
  site/src/hooks/useTimeSync.tsx
Owners: @Parkreiner

fix(coderd/provisionerdserver): workaround lack of coder_ai_task resource on stop transition (#19560)
  coderd/provisionerdserver/provisionerdserver.go
  coderd/provisionerdserver/provisionerdserver_test.go
Owners: none

fix(coderd): filter out non-task workspaces in api.tasksList (#19559)
  coderd/aitasks.go
Owners: none

fix: revert github.com/mark3labs/mcp-go to 0.32.0 (#19578)
  .github/dependabot.yaml
  go.mod
  go.sum
Owners: none

feat(docs): add docs for external workspaces (#19437)
  docs/admin/templates/index.md
  docs/admin/templates/managing-templates/external-workspaces.md
  docs/images/admin/templates/external-workspace.png
  docs/manifest.json
Owners: none

fix(coderd/taskname): ensure generated name is within 32 byte limit (#19612)
  coderd/taskname/taskname.go
Owners: none

chore(docs): set external workspaces as premium feature in manifest.json (#19615)
  docs/manifest.json
Owners: none

feat: add prebuild timing metrics to Prometheus (#19503)
  cli/server.go
  coderd/coderd.go
  coderd/coderdtest/coderdtest.go
  coderd/database/dbauthz/dbauthz.go
  coderd/database/dbauthz/dbauthz_test.go
  coderd/database/dbmetrics/querymetrics.go
  coderd/database/dbmock/dbmock.go
  coderd/database/querier.go
  coderd/database/queries.sql.go
  coderd/database/queries/prebuilds.sql
  coderd/database/queries/workspaces.sql
  coderd/prometheusmetrics/prometheusmetrics.go
  coderd/prometheusmetrics/prometheusmetrics_test.go
  coderd/provisionerdserver/metrics.go
  coderd/provisionerdserver/provisionerdserver.go
  coderd/provisionerdserver/provisionerdserver_test.go
  docs/admin/integrations/prometheus.md
  docs/admin/templates/extending-templates/prebuilt-workspaces.md
  enterprise/coderd/provisionerdaemons.go
  enterprise/coderd/workspaces_test.go
  scripts/metricsdocgen/metrics
Owners: none

fix: set radio item to relative position (#19621)
  site/src/components/RadioGroup/RadioGroup.tsx
Owners: @aslilac, @Parkreiner

fix: suppress license expiry warning if a new license covers the gap (#19601)
  enterprise/coderd/license/license.go
  enterprise/coderd/license/license_internal_test.go
  enterprise/coderd/license/license_test.go
Owners: none

fix(coderd): fix logic for reporting prebuilt workspace duration metric (#19641)
  coderd/provisionerdserver/metrics.go
  enterprise/coderd/coderdenttest/coderdenttest.go
  enterprise/coderd/workspaces_test.go
Owners: none

chore(docs): update external-workspace image (#19608)
  docs/images/admin/templates/external-workspace.png
Owners: none

chore: replace GetManagedAgentCount query with aggregate table (#19636)
  coderd/database/dbauthz/dbauthz.go
  coderd/database/dbauthz/dbauthz_test.go
  coderd/database/dbmetrics/querymetrics.go
  coderd/database/dbmock/dbmock.go
  coderd/database/dump.sql
  coderd/database/migrations/000362_aggregate_usage_events.down.sql
  coderd/database/migrations/000362_aggregate_usage_events.up.sql
  coderd/database/migrations/migrate_test.go
  coderd/database/models.go
  coderd/database/querier.go
  coderd/database/querier_test.go
  coderd/database/queries.sql.go
  coderd/database/queries/licenses.sql
  coderd/database/queries/usageevents.sql
  coderd/database/unique_constraint.go
  enterprise/coderd/coderd.go
  enterprise/coderd/license/license.go
  enterprise/coderd/license/license_test.go
Owners: none

fix: expire token for prebuilds user when regenerating session token (#19667)
  coderd/apikey.go
  coderd/apikey_test.go
  coderd/database/dbauthz/dbauthz.go
  coderd/database/dbauthz/dbauthz_test.go
  coderd/database/dbgen/dbgen.go
  coderd/database/dbmetrics/querymetrics.go
  coderd/database/dbmock/dbmock.go
  coderd/database/dbpurge/dbpurge.go
  coderd/database/dbpurge/dbpurge_test.go
  coderd/database/querier.go
  coderd/database/queries.sql.go
  coderd/database/queries/apikeys.sql
  coderd/provisionerdserver/provisionerdserver.go
  coderd/provisionerdserver/provisionerdserver_test.go
Owners: none

fix(coderd): add audit log on creating a new session key (#19672)
  coderd/apikey.go
  coderd/apikey_test.go
Owners: none

chore: get all core react logic in place
  site/src/hooks/useTimeSync.tsx
Owners: @Parkreiner

chore: update coder/preview to v1.0.4 (#19640)
  go.mod
  go.sum
Owners: none

resolved go sum for preview v1.0.4
  go.mod
  go.sum
Owners: none

refactor: simplify config options
  site/src/hooks/useTimeSync.tsx
Owners: @Parkreiner

refactor: simplify disabled setup
  site/src/utils/TimeSync.ts
Owners: @aslilac, @Parkreiner

fix: prevent stale data issues on transform invalidation
  site/src/hooks/useTimeSync.tsx
Owners: @Parkreiner

chore: finish initial version of react bindings
  site/src/components/LastSeen/LastSeen.tsx
  site/src/hooks/useTimeSync.tsx
Owners: @aslilac, @Parkreiner

adding last commit for release
  go.mod
  go.sum
Owners: none

fix: remove obvious bugs
  site/src/hooks/useTimeSync.tsx
Owners: @Parkreiner

refactor: clean up react bindings
  site/src/hooks/useTimeSync.tsx
Owners: @Parkreiner

fix: clean up base TimeSync
  site/src/utils/TimeSync.ts
Owners: @aslilac, @Parkreiner

refactor: move default collisionPadding from HelpTooltip to Popover
  site/src/components/HelpTooltip/HelpTooltip.tsx
  site/src/components/Popover/Popover.tsx
Owners: @aslilac, @Parkreiner

fix: update race condition protections
  site/src/utils/TimeSync.ts
Owners: @aslilac, @Parkreiner

fix: remove errors from old code
  site/src/utils/TimeSync.ts
Owners: @aslilac, @Parkreiner

fix: beef up dispose logic
  site/src/utils/TimeSync.ts
Owners: @aslilac, @Parkreiner

docs: rewrite comment for clarity
  site/src/utils/TimeSync.ts
Owners: @aslilac, @Parkreiner

chore: update api version
  provisionerd/proto/version.go
Owners: @spikecurtis, @johnstcn

chore: run make gen
  cli/testdata/coder_provisioner_list_--output_json.golden
Owners: none

CODEOWNERS:

# These APIs are versioned, so any changes need to be carefully reviewed for
# whether to bump API major or minor versions.
agent/proto/ @spikecurtis @johnstcn
provisionerd/proto/ @spikecurtis @johnstcn
provisionersdk/proto/ @spikecurtis @johnstcn
tailnet/proto/ @spikecurtis @johnstcn
vpn/vpn.proto @spikecurtis @johnstcn
vpn/version.go @spikecurtis @johnstcn

# This caching code is particularly tricky, and one must be very careful when
# altering it.
coderd/files/ @aslilac

coderd/dynamicparameters/ @Emyrk
coderd/rbac/ @Emyrk

# Mainly dependent on coder/guts, which is maintained by @Emyrk
scripts/apitypings/ @Emyrk
scripts/gensite/ @aslilac

site/ @aslilac @Parkreiner
site/src/hooks/ @Parkreiner
# These rules intentionally do not specify any owners. More specific rules
# override less specific rules, so these files are "ignored" by the site/ rule.
site/e2e/google/protobuf/timestampGenerated.ts
site/e2e/provisionerGenerated.ts
site/src/api/countriesGenerated.ts
site/src/api/rbacresourcesGenerated.ts
site/src/api/typesGenerated.ts
site/src/testHelpers/entities.ts
site/CLAUDE.md

# The blood and guts of the autostop algorithm, which is quite complex and
# requires elite ball knowledge of most of the scheduling code to make changes
# without inadvertently affecting other parts of the codebase.
coderd/schedule/autostop.go @deansheather @DanielleMaywood

# Usage tracking code requires intimate knowledge of Tallyman and Metronome, as
# well as guidance from revenue.
coderd/usage/ @deansheather @spikecurtis
enterprise/coderd/usage/ @deansheather @spikecurtis
