Repository coder/coder, changes with the owners that CODEOWNERS names for each.
All owners: @spikecurtis, @johnstcn, @aslilac, @Emyrk, @Parkreiner

suggestions from review
  docs/admin/templates/extending-templates/prebuilt-workspaces.md
Owners: none

chore: add workspace-sharing experiment
  coderd/apidoc/docs.go
  coderd/apidoc/swagger.json
  codersdk/deployment.go
  docs/reference/api/schemas.md
  site/src/api/typesGenerated.ts
Owners: none

add rbac tests for provisioner job logs length and overflowed queries
  coderd/database/dbauthz/dbauthz_test.go
Owners: none

feat: allow bypassing current CORS magic based on template config (#18706)
  coderd/apidoc/docs.go
  coderd/apidoc/swagger.json
  coderd/database/dbauthz/dbauthz_test.go
  coderd/database/dbgen/dbgen.go
  coderd/database/dump.sql
  coderd/database/migrations/000353_template_level_cors.down.sql
  coderd/database/migrations/000353_template_level_cors.up.sql
  coderd/database/modelqueries.go
  coderd/database/models.go
  coderd/database/queries.sql.go
  coderd/database/queries/templates.sql
  coderd/database/sqlc.yaml
  coderd/prometheusmetrics/prometheusmetrics_test.go
  coderd/templates.go
  coderd/workspaceapps/apptest/apptest.go
  coderd/workspaceapps/apptest/setup.go
  coderd/workspaceapps/cors/cors.go
  coderd/workspaceapps/db.go
  coderd/workspaceapps/db_test.go
  coderd/workspaceapps/proxy.go
  coderd/workspaceapps/request.go
  coderd/workspaceapps/token.go
  codersdk/cors_behavior.go
  codersdk/organizations.go
  codersdk/templates.go
  docs/admin/security/audit-logs.md
  docs/reference/api/schemas.md
  docs/reference/api/templates.md
  enterprise/audit/table.go
  enterprise/wsproxy/wsproxy.go
  site/e2e/tests/templates/updateTemplateSchedule.spec.ts
  site/src/api/typesGenerated.ts
  site/src/pages/CreateTemplatePage/utils.ts
  site/src/pages/TemplateSettingsPage/TemplateGeneralSettingsPage/TemplateSettingsForm.tsx
  site/src/pages/TemplateSettingsPage/TemplateGeneralSettingsPage/TemplateSettingsPage.test.tsx
  site/src/testHelpers/entities.ts
Owners: @aslilac

add `database.WorkspaceACL` type
  coderd/database/dbgen/dbgen_test.go
  coderd/database/models.go
  coderd/database/sqlc.yaml
  coderd/database/types.go
  coderd/rbac/regosql/acl_mapping_var.go
Owners: @Emyrk

fix: handle potential DB conflict due to concurrent upload requests in `postFile` (#19005)
  coderd/files.go
  coderd/files_test.go
Owners: none

missing make gen
  docs/admin/security/audit-logs.md
Owners: none

fix more tests
  coderd/database/modelmethods.go
Owners: none

reshuffling
  coderd/database/migrations/000353_add_provisioner_logs_overflowed.up.sql
  coderd/provisionerdserver/provisionerdserver.go
  site/src/modules/workspaces/WorkspaceBuildLogs/WorkspaceBuildLogs.tsx
  site/src/pages/WorkspaceBuildPage/WorkspaceBuildPageView.tsx
Owners: @aslilac

update migration numbers
  coderd/database/migrations/000354_add_provisioner_logs_overflowed.down.sql
  coderd/database/migrations/000354_add_provisioner_logs_overflowed.up.sql
Owners: none

remove period from slog log
  coderd/provisionerdserver/provisionerdserver.go
Owners: none

feat: implement acl for workspaces (#19094)
  coderd/database/dbgen/dbgen_test.go
  coderd/database/dump.sql
  coderd/database/migrations/000354_workspace_acl.down.sql
  coderd/database/migrations/000354_workspace_acl.up.sql
  coderd/database/modelmethods.go
  coderd/database/modelqueries.go
  coderd/database/models.go
  coderd/database/queries.sql.go
  coderd/database/queries/workspaces.sql
  coderd/database/sqlc.yaml
  coderd/database/types.go
  coderd/rbac/regosql/acl_group_var.go
  coderd/rbac/regosql/acl_mapping_var.go
  coderd/rbac/regosql/compile_test.go
  coderd/rbac/regosql/configs.go
  docs/admin/security/audit-logs.md
  enterprise/audit/table.go
Owners: @Emyrk

migration rename
  coderd/database/migrations/000355_add_provisioner_logs_overflowed.down.sql
  coderd/database/migrations/000355_add_provisioner_logs_overflowed.up.sql
Owners: none

improve comments
  coderd/rbac/regosql/acl_mapping_var.go
  enterprise/coderd/templates.go
Owners: @Emyrk

add necessary codersdk types
  codersdk/workspaces.go
Owners: none

fix: add constraint and runtime check for provisioner logs size limit (#18893)
  cli/testdata/coder_list_--output_json.golden
  cli/testdata/coder_provisioner_jobs_list_--help.golden
  cli/testdata/coder_provisioner_jobs_list_--output_json.golden
  coderd/apidoc/docs.go
  coderd/apidoc/swagger.json
  coderd/database/dbauthz/dbauthz.go
  coderd/database/dbauthz/dbauthz_test.go
  coderd/database/dbfake/dbfake.go
  coderd/database/dbgen/dbgen.go
  coderd/database/dbmetrics/querymetrics.go
  coderd/database/dbmock/dbmock.go
  coderd/database/dump.sql
  coderd/database/errors.go
  coderd/database/migrations/000355_add_provisioner_logs_overflowed.down.sql
  coderd/database/migrations/000355_add_provisioner_logs_overflowed.up.sql
  coderd/database/models.go
  coderd/database/querier.go
  coderd/database/queries.sql.go
  coderd/database/queries/provisionerjoblogs.sql
  coderd/database/queries/provisionerjobs.sql
  coderd/provisionerdserver/provisionerdserver.go
  coderd/provisionerdserver/provisionerdserver_test.go
  coderd/provisionerjobs.go
  coderd/templateversions.go
  coderd/wsbuilder/wsbuilder.go
  codersdk/provisionerdaemons.go
  docs/reference/api/builds.md
  docs/reference/api/organizations.md
  docs/reference/api/schemas.md
  docs/reference/api/templates.md
  docs/reference/api/workspaces.md
  docs/reference/cli/provisioner_jobs_list.md
  enterprise/cli/testdata/coder_provisioner_jobs_list_--help.golden
  site/src/api/typesGenerated.ts
  site/src/modules/resources/AgentRow.tsx
  site/src/modules/workspaces/WorkspaceBuildLogs/WorkspaceBuildLogs.tsx
  site/src/pages/WorkspaceBuildPage/WorkspaceBuildPageView.tsx
  site/src/testHelpers/entities.ts
Owners: @aslilac

like 65% of a kirby button
  coderd/coderd.go
  coderd/database/db2sdk/db2sdk.go
  site/src/api/api.ts
  site/src/api/queries/workspaces.ts
  site/src/api/typesGenerated.ts
  site/src/pages/WorkspaceSettingsPage/Sidebar.tsx
  site/src/pages/WorkspaceSettingsPage/WorkspaceSharingPage/WorkspaceSharingPage.tsx
  site/src/router.tsx
  site/static/kirby.gif
Owners: @aslilac

THE KIRBY BUTTON IS A-GO
  coderd/apidoc/docs.go
  coderd/apidoc/swagger.json
  coderd/database/db2sdk/db2sdk.go
  coderd/database/dbauthz/dbauthz.go
  coderd/database/dbmetrics/querymetrics.go
  coderd/database/dbmock/dbmock.go
  coderd/database/querier.go
  coderd/database/queries.sql.go
  coderd/database/queries/workspaces.sql
  coderd/workspaces.go
  docs/reference/api/default.md
  docs/reference/api/enterprise.md
  docs/reference/api/schemas.md
  enterprise/coderd/templates.go
Owners: none

cleanup
  coderd/workspaces.go
  site/src/api/api.ts
  site/src/api/queries/workspaces.ts
  site/src/pages/WorkspaceSettingsPage/Sidebar.tsx
  site/src/pages/WorkspaceSettingsPage/WorkspaceSharingPage/WorkspaceSharingPage.tsx
Owners: @aslilac

ok fine have your tags
  coderd/workspaces.go
Owners: none

fix(agent/agentcontainers): fix devcontainer integration tests
  agent/agentcontainers/api.go
Owners: none

chore: copilot had useful advice for once
  agent/agentcontainers/api.go
Owners: none

chore: add small scenario to scaletest
  scaletest/terraform/action/.gitignore
  scaletest/terraform/action/main.tf
  scaletest/terraform/action/scenarios.tf
Owners: none

fix(agent/agentcontainers): fix devcontainer integration tests (#19109)
  agent/agentcontainers/api.go
Owners: none

chore(agent/agentcontainers): test current prebuilds integration
  agent/agentcontainers/api_test.go
Owners: none

fix: skip test on windows
  agent/agentcontainers/api_test.go
Owners: none

refactor: use fakes instead of mocks
  agent/agentcontainers/api_test.go
Owners: none

fix: appease linter
  agent/agentcontainers/api_test.go
Owners: none

CODEOWNERS:

# These APIs are versioned, so any changes need to be carefully reviewed for
# whether to bump API major or minor versions.
agent/proto/ @spikecurtis @johnstcn
provisionerd/proto/ @spikecurtis @johnstcn
provisionersdk/proto/ @spikecurtis @johnstcn
tailnet/proto/ @spikecurtis @johnstcn
vpn/vpn.proto @spikecurtis @johnstcn
vpn/version.go @spikecurtis @johnstcn


# This caching code is particularly tricky, and one must be very careful when
# altering it.
coderd/files/ @aslilac

coderd/dynamicparameters/ @Emyrk
coderd/rbac/ @Emyrk

# Mainly dependent on coder/guts, which is maintained by @Emyrk
scripts/apitypings/ @Emyrk
scripts/gensite/ @aslilac

site/ @aslilac
site/src/hooks/ @Parkreiner
# These rules intentionally do not specify any owners. More specific rules
# override less specific rules, so these files are "ignored" by the site/ rule.
site/e2e/google/protobuf/timestampGenerated.ts
site/e2e/provisionerGenerated.ts
site/src/api/countriesGenerated.ts
site/src/api/rbacresourcesGenerated.ts
site/src/api/typesGenerated.ts
site/CLAUDE.md
