Repository coder/coder, changes with the owners that CODEOWNERS names for each.
All owners: @spikecurtis, @johnstcn, @aslilac, @Emyrk, @Parkreiner, @deansheather, @DanielleMaywood

refactor: replace deprecated Popover in SelectMenu
  site/src/components/SelectMenu/SelectMenu.tsx
Owners: @aslilac, @Parkreiner

style: prettier
  site/src/modules/dashboard/Navbar/DeploymentDropdown.tsx
Owners: @aslilac, @Parkreiner

fix: add bottom padding to workspace page (#19643)
  site/src/pages/WorkspacesPage/WorkspacesPageView.tsx
Owners: @aslilac, @Parkreiner

chore: add last commit from cherry-pick list for release (#19679)
  coderd/metricscache/metricscache_test.go
  coderd/prometheusmetrics/aggregator_test.go
  go.mod
  go.sum
Owners: none

refactor: replace deprecated Popover in DeploymentDropdown
  site/src/modules/dashboard/Navbar/DeploymentDropdown.tsx
Owners: @aslilac, @Parkreiner

style: prettier
  site/src/modules/dashboard/Navbar/UserDropdown/UserDropdownContent.tsx
Owners: @aslilac, @Parkreiner

refactor: replace deprecated Popover in UserDropdown
  site/src/modules/dashboard/Navbar/UserDropdown/UserDropdown.tsx
  site/src/modules/dashboard/Navbar/UserDropdown/UserDropdownContent.tsx
Owners: @aslilac, @Parkreiner

refactor: remove redundant open state var from UserDropdown
  site/src/modules/dashboard/Navbar/UserDropdown/UserDropdown.tsx
Owners: @aslilac, @Parkreiner

refactor: replace deprecated Popover in UserDropdownContent.test
  site/src/modules/dashboard/Navbar/UserDropdown/UserDropdownContent.test.tsx
Owners: @aslilac, @Parkreiner

release calendar for 2.26 mainline
  docs/install/kubernetes.md
  docs/install/kubernetes/kubernetes-azure-app-gateway.md
  docs/install/releases/index.md
Owners: none

refactor: replace deprecated Popover in PortForwardButton
  site/src/modules/resources/PortForwardButton.tsx
Owners: @aslilac, @Parkreiner

refactor: replace deprecated Popover in EditRolesButton
  site/src/pages/OrganizationSettingsPage/UserTable/EditRolesButton.tsx
Owners: @aslilac, @Parkreiner

fix(cli/templatepush): only implicitly read from stdin if the directory flag is unset
  cli/templatepush.go
  cli/templatepush_test.go
Owners: none

refactor: replace deprecated Popover in ProvisionerTagsPopover
  site/src/pages/TemplateVersionEditorPage/ProvisionerTagsPopover.tsx
Owners: @aslilac, @Parkreiner

refactor: replace deprecated Popover in WorkspacesButton
  site/src/pages/WorkspacesPage/WorkspacesButton.tsx
Owners: @aslilac, @Parkreiner

wip: commit progress on base TimeSync
  site/src/utils/TimeSync.ts
Owners: @aslilac, @Parkreiner

refactor: consolidate logic
  site/src/utils/TimeSync.ts
Owners: @aslilac, @Parkreiner

docs: add more comments
  site/src/hooks/useTimeSync.tsx
Owners: @Parkreiner

wip: rejigger APIs again
  site/src/hooks/useTimeSync.tsx
  site/src/utils/TimeSync.ts
Owners: @Parkreiner, @aslilac

refactor: move some stuff around
  site/src/utils/TimeSync.ts
Owners: @aslilac, @Parkreiner

fix: remove hold WaitGroup in TestConcurrentFetch (#19617)
  coderd/files/cache_test.go
Owners: @aslilac

ci: improve 'tfail in goroutine' ruleguard rule
  coderd/files_test.go
  enterprise/tailnet/pgcoord_test.go
  scaletest/createworkspaces/run_test.go
  scripts/rules.go
Owners: none

add test for agent calling RefreshToken()
  agent/agent_test.go
  agent/agenttest/client.go
Owners: none

chore: refactor instance identity to be a SessionTokenProvider
  agent/agent.go
  agent/agent_test.go
  agent/agenttest/agent.go
  agent/agenttest/client.go
  cli/agent.go
  cli/exp_mcp.go
  cli/externalauth.go
  cli/gitaskpass.go
  cli/gitaskpass_test.go
  cli/gitssh.go
  cli/gitssh_test.go
  cli/root.go
  cli/testdata/coder_agent_--help.golden
  coderd/externalauth_test.go
  coderd/gitsshkey_test.go
  coderd/insights_test.go
  coderd/prometheusmetrics/insights/metricscollector_test.go
  coderd/prometheusmetrics/prometheusmetrics_test.go
  coderd/workspaceagents_test.go
  coderd/workspaceagentsrpc_test.go
  coderd/workspaceapps/apptest/setup.go
  coderd/workspaceresourceauth_test.go
  codersdk/agentsdk/agentsdk.go
  codersdk/agentsdk/agentsdk_test.go
  codersdk/agentsdk/aws.go
  codersdk/agentsdk/azure.go
  codersdk/agentsdk/google.go
  codersdk/toolsdk/toolsdk_test.go
  enterprise/coderd/appearance_test.go
  enterprise/coderd/gitsshkey_test.go
  enterprise/coderd/workspaceagents_test.go
  scaletest/createworkspaces/run_test.go
  scaletest/workspacebuild/run_test.go
Owners: none

make URL not a pointer in AgentAuth
  cli/agent.go
  cli/exp_mcp.go
  cli/externalauth.go
  cli/gitssh.go
  cli/root.go
Owners: none

refactor agent auth options into it's own type
  agent/agenttest/agent.go
  cli/agent.go
  cli/exp_mcp.go
  cli/externalauth.go
  cli/gitaskpass.go
  cli/gitssh.go
  cli/gitssh_test.go
  cli/root.go
  cli/testdata/coder_agent_--help.golden
  cli/testdata/coder_external-auth_access-token_--help.golden
  coderd/externalauth_test.go
  coderd/gitsshkey_test.go
  coderd/insights_test.go
  coderd/prometheusmetrics/insights/metricscollector_test.go
  coderd/prometheusmetrics/prometheusmetrics_test.go
  coderd/workspaceagents_test.go
  coderd/workspaceagentsrpc_test.go
  coderd/workspaceapps/apptest/setup.go
  coderd/workspaceresourceauth_test.go
  codersdk/agentsdk/agentsdk.go
  codersdk/agentsdk/agentsdk_test.go
  codersdk/agentsdk/aws.go
  codersdk/agentsdk/azure.go
  codersdk/agentsdk/google.go
  codersdk/toolsdk/toolsdk_test.go
  docs/reference/cli/external-auth_access-token.md
  enterprise/coderd/appearance_test.go
  enterprise/coderd/gitsshkey_test.go
  enterprise/coderd/workspaceagents_test.go
  scaletest/createworkspaces/run_test.go
  scaletest/workspacebuild/run_test.go
Owners: none

rename to RequestWithoutSessionToken
  codersdk/agentsdk/aws.go
  codersdk/agentsdk/azure.go
  codersdk/agentsdk/google.go
Owners: none

chore: refactor instance identity to be a SessionTokenProvider (#19566)
  agent/agent.go
  agent/agent_test.go
  agent/agenttest/agent.go
  agent/agenttest/client.go
  cli/agent.go
  cli/exp_mcp.go
  cli/externalauth.go
  cli/gitaskpass.go
  cli/gitaskpass_test.go
  cli/gitssh.go
  cli/gitssh_test.go
  cli/root.go
  cli/testdata/coder_agent_--help.golden
  cli/testdata/coder_external-auth_access-token_--help.golden
  coderd/externalauth_test.go
  coderd/gitsshkey_test.go
  coderd/insights_test.go
  coderd/prometheusmetrics/insights/metricscollector_test.go
  coderd/prometheusmetrics/prometheusmetrics_test.go
  coderd/workspaceagents_test.go
  coderd/workspaceagentsrpc_test.go
  coderd/workspaceapps/apptest/setup.go
  coderd/workspaceresourceauth_test.go
  codersdk/agentsdk/agentsdk.go
  codersdk/agentsdk/agentsdk_test.go
  codersdk/agentsdk/aws.go
  codersdk/agentsdk/azure.go
  codersdk/agentsdk/google.go
  codersdk/toolsdk/toolsdk_test.go
  docs/reference/cli/external-auth_access-token.md
  enterprise/coderd/appearance_test.go
  enterprise/coderd/gitsshkey_test.go
  enterprise/coderd/workspaceagents_test.go
  scaletest/createworkspaces/run_test.go
  scaletest/workspacebuild/run_test.go
Owners: none

chore: refactor CLI agent auth tests as unit tests
  cli/agent.go
  cli/agent_test.go
  cli/exp_mcp.go
  cli/externalauth.go
  cli/gitaskpass.go
  cli/gitssh.go
  cli/root.go
  cli/root_test.go
  codersdk/agentsdk/agentsdk.go
  codersdk/agentsdk/aws.go
  codersdk/agentsdk/azure.go
  codersdk/agentsdk/google.go
Owners: none

chore: refactor CLI agent auth tests as unit tests (#19609)
  cli/agent.go
  cli/agent_test.go
  cli/exp_mcp.go
  cli/externalauth.go
  cli/gitaskpass.go
  cli/gitssh.go
  cli/root.go
  cli/root_test.go
  codersdk/agentsdk/agentsdk.go
  codersdk/agentsdk/aws.go
  codersdk/agentsdk/azure.go
  codersdk/agentsdk/google.go
Owners: none

fix: show popup on successful template build (#19674)
  site/src/pages/TemplateVersionEditorPage/TemplateVersionEditor.tsx
  site/src/pages/TemplateVersionEditorPage/TemplateVersionEditorPage.test.tsx
Owners: @aslilac, @Parkreiner

fix: expire token for prebuilds user when regenerating session token (#19667) (#19669)
  coderd/apikey.go
  coderd/apikey_test.go
  coderd/database/dbauthz/dbauthz.go
  coderd/database/dbauthz/dbauthz_test.go
  coderd/database/dbgen/dbgen.go
  coderd/database/dbmem/dbmem.go
  coderd/database/dbmetrics/querymetrics.go
  coderd/database/dbmock/dbmock.go
  coderd/database/dbpurge/dbpurge.go
  coderd/database/dbpurge/dbpurge_test.go
  coderd/database/querier.go
  coderd/database/queries.sql.go
  coderd/database/queries/apikeys.sql
  coderd/provisionerdserver/provisionerdserver.go
  coderd/provisionerdserver/provisionerdserver_test.go
Owners: none

fix: expire token for prebuilds user when regenerating session token (#19667) (#19668)
  coderd/apikey.go
  coderd/apikey_test.go
  coderd/database/dbauthz/dbauthz.go
  coderd/database/dbauthz/dbauthz_test.go
  coderd/database/dbgen/dbgen.go
  coderd/database/dbmetrics/querymetrics.go
  coderd/database/dbmock/dbmock.go
  coderd/database/dbpurge/dbpurge.go
  coderd/database/dbpurge/dbpurge_test.go
  coderd/database/querier.go
  coderd/database/queries.sql.go
  coderd/database/queries/apikeys.sql
  coderd/provisionerdserver/provisionerdserver.go
  coderd/provisionerdserver/provisionerdserver_test.go
Owners: none

fix(coderd): add audit log on creating a new session key (#19672)
  coderd/apikey.go
  coderd/apikey_test.go
Owners: none

fix(coderd): add audit log on creating a new session key (#19672)
  coderd/apikey.go
  coderd/apikey_test.go
Owners: none

fix: change enqueue error to debug log level
  enterprise/tailnet/pgcoord.go
Owners: none

fix: change enqueue error to debug log level (#19686)
  enterprise/tailnet/pgcoord.go
Owners: none

feat(cli): support `--wait` command for task creation
  cli/exp_task_create.go
  cli/exp_task_create_test.go
Owners: none

chore: add a little comment
  cli/exp_task_create.go
Owners: none

feat: add default workspace name to Template Embed form
  site/src/pages/TemplatePage/TemplateEmbedPage/TemplateEmbedPage.test.tsx
  site/src/pages/TemplatePage/TemplateEmbedPage/TemplateEmbedPage.tsx
Owners: @aslilac, @Parkreiner

CODEOWNERS:

# These APIs are versioned, so any changes need to be carefully reviewed for
# whether to bump API major or minor versions.
agent/proto/ @spikecurtis @johnstcn
provisionerd/proto/ @spikecurtis @johnstcn
provisionersdk/proto/ @spikecurtis @johnstcn
tailnet/proto/ @spikecurtis @johnstcn
vpn/vpn.proto @spikecurtis @johnstcn
vpn/version.go @spikecurtis @johnstcn

# This caching code is particularly tricky, and one must be very careful when
# altering it.
coderd/files/ @aslilac

coderd/dynamicparameters/ @Emyrk
coderd/rbac/ @Emyrk

# Mainly dependent on coder/guts, which is maintained by @Emyrk
scripts/apitypings/ @Emyrk
scripts/gensite/ @aslilac

site/ @aslilac @Parkreiner
site/src/hooks/ @Parkreiner
# These rules intentionally do not specify any owners. More specific rules
# override less specific rules, so these files are "ignored" by the site/ rule.
site/e2e/google/protobuf/timestampGenerated.ts
site/e2e/provisionerGenerated.ts
site/src/api/countriesGenerated.ts
site/src/api/rbacresourcesGenerated.ts
site/src/api/typesGenerated.ts
site/src/testHelpers/entities.ts
site/CLAUDE.md

# The blood and guts of the autostop algorithm, which is quite complex and
# requires elite ball knowledge of most of the scheduling code to make changes
# without inadvertently affecting other parts of the codebase.
coderd/schedule/autostop.go @deansheather @DanielleMaywood

# Usage tracking code requires intimate knowledge of Tallyman and Metronome, as
# well as guidance from revenue.
coderd/usage/ @deansheather @spikecurtis
enterprise/coderd/usage/ @deansheather @spikecurtis
